{% extends 'eduapp/main-template.html' %}
{% block title %}
Spaces
{% endblock %}
{% block content %}
<p class="uk-text-lead uk-margin-bottom">
    {{category}}
</p>
<div class="uk-grid-match uk-child-width-1-3@s uk-text-center" uk-grid>
    {% for course in courses %}
    <a class="uk-link-heading" href="{% url 'edu-app:CourseShow' course.pk %}">
        <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-badge uk-label">
                {{course.category}}
            </div>
            <div class="uk-card-media-top">
                <div class="uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({{course.cover.url}});">
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">
                    {{course.title}}
                </h3>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}