{% extends 'eduapp/main-template.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Тест
{% endblock %}
{% block content %}
        <div>
            <h4>
                {{test.title}}
            </h4>
            <form method="post">
            {% csrf_token %} 
            {% for test in tests %}
                <div>
                    <span>
                        {{ forloop.counter }}.{{test.question}}
                    </span>
                        {% for i in  test.variant%}
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label>
                                <input required class="uk-radio"  value="{{forloop.counter0}}" type="radio" name="{{test.pk}}">
                                {{ forloop.counter }}-{{i}} 
                            </label>
                        </div>
                        {% endfor %}
                </div>
            {% endfor %}
            <input class="uk-button uk-button-primary" type="submit" value="Жіберу"> 
        </form>
        </div>
{% endblock %}